#Gzip
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>
#End Gzip
#Expires headers - http://cjohansen.no/en/apache/using_a_far_future_expires_header
<FilesMatch "\.(ico|pdf|jpe?g|png|gif|js|css|woff|html|php)$">
    ExpiresActive On
    ExpiresDefault "access plus 366 days"
</FilesMatch>
<FilesMatch "\.(ico|pdf|jpe?g|png|gif|js|css||woff|html|php)$">
    Header set Expires "Sat, 27 Dec 2014 23:59:59 GMT"
</FilesMatch>
#End Expires headers
#Cache-Control Headers
# 480 weeks
<filesMatch "\.(ico|pdf|jpe?g|png|gif|js|css|woff|html|php)$">
	Header set Cache-Control "max-age=290304000, public"
</filesMatch>
#End Cache-Control Headers

AddType application/x-font-woff .woff
