/* HTML5 display definitions */
/* Corrects block display not defined in IE6/7/8/9 & FF3 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

/* Corrects inline-block display not defined in IE6/7/8/9 & FF3 */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/* 1. Prevents modern browsers from displaying 'audio' without controls 2. Remove excess height in iOS5 devices */
audio:not([controls]) { display: none; /* 1 */ height: 0; /* 2 */ }

/* Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4 Known issue: no IE6 support */
[hidden] { display: none; }

/* Base */
/* 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 2. Prevents iOS text size adjust after orientation change, without disabling user zoom www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
html { font-size: 100%; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ }

/* Addresses font-family inconsistency between 'textarea' and other form elements. */
html, button, input, select, textarea { font-family: sans-serif; }

/* Addresses margins handled incorrectly in IE6/7 */
body { margin: 0; }

/* Links */
/* Addresses outline displayed oddly in Chrome */
a:focus { outline: thin dotted; }

/* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }

/* Typography */
/* Addresses font sizes and margins set differently in IE6/7 Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5 */
h1 { font-size: 2em; margin: 0.67em 0; }

h2 { font-size: 1.5em; margin: 0.83em 0; }

h3 { font-size: 1.17em; margin: 1em 0; }

h4 { font-size: 1em; margin: 1.33em 0; }

h5 { font-size: 0.83em; margin: 1.67em 0; }

h6 { font-size: 0.75em; margin: 2.33em 0; }

/* Addresses styling not present in IE7/8/9, S5, Chrome */
abbr[title] { border-bottom: 1px dotted; }

/* Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

/* Addresses styling not present in S5, Chrome */
dfn { font-style: italic; }

/* Addresses styling not present in IE6/7/8/9 */
mark { background: #ff0; color: #000; }

/* Addresses margins set differently in IE6/7 */
p, pre { margin: 1em 0; }

/* Corrects font family set oddly in IE6, S4/5, Chrome en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improves readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

/* 1. Addresses CSS quotes not supported in IE6/7 2. Addresses quote property not supported in S4 */
/* 1 */
q { quotes: none; }

/* 2 */
q:before, q:after { content: ''; content: none; }

small { font-size: 75%; }

/* Prevents sub and sup affecting line-height in all browsers gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Lists */
/* Addresses margins set differently in IE6/7 */
dl, menu, ol, ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

/* Addresses paddings set differently in IE6/7 */
menu, ol, ul { padding: 0 0 0 40px; }

/* Corrects list images handled incorrectly in IE7 */
nav ul, nav ol { list-style: none; list-style-image: none; }

/* Embedded content */
/* 1. Removes border when inside 'a' element in IE6/7/8/9, FF3 2. Improves image quality when scaled in IE7 code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
img { border: 0; /* 1 */ -ms-interpolation-mode: bicubic; /* 2 */ }

/* Corrects overflow displayed oddly in IE9 */
svg:not(:root) { overflow: hidden; }

@font-face { font-family: 'MuseoSlab100'; src: url("/static/fonts/museo/museo_slab_100-webfont.eot"); src: local("☺"), url("/fonts/museo/museo_slab_100-webfont.ttf") format("truetype"); }

/* Figures */
/* Addresses margin not present in IE6/7/8/9, S5, O11 */
figure { margin: 0; }

.cf { *zoom: 1; }
.cf:before { content: ""; display: table; }
.cf:after { content: ""; display: table; clear: both; }

* { text-transform: lowercase; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { min-width: 320px; margin: 0; padding: 0 0 3em; background: #88C75E; border-bottom: 4px solid #6b9f35; }

a:active { top: 1px; }

.no-font-face * { font-weight: 100; }

header { background: #fcfcfc url(/images/header-bg.jpg) repeat 0 0; border-bottom: 1px solid #6c9f35; }
header .wrap { padding: 0; margin: 0 auto; }
header img { width: 90%; max-width: 17.813em; margin: -11px 0; padding: 0 0 1em 0; }

.wrap { *zoom: 1; width: 96%; position: relative; max-width: 64.25em; margin: 0 auto; margin-top: 2.938em; }
.wrap:before { content: ""; display: table; }
.wrap:after { content: ""; display: table; clear: both; }
@media all and (min-width: 1028px) { .wrap { width: 100%; } }

hgroup { width: 100%; margin-top: 2.25em; }
@media all and (min-width: 600px) { hgroup { width: auto; float: left; margin-top: 0; margin-right: 262px; } }
hgroup h2 { border-top: 4px solid #385b20; position: relative; margin: 0; padding: 0.5em 0 0.105em; color: #fff; letter-spacing: -3px; font: normal 2.375em/1.158em "MuseoSlab100", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
@media all and (min-width: 800px) { hgroup h2 { font-size: 2.5em; line-height: 1.2em; } }
@media all and (min-width: 830px) { hgroup h2 { font-size: 3.25em; line-height: 0.981em; } }
hgroup h3 { position: relative; padding: 20px 5% 0 0; margin: 0; color: #19290e; letter-spacing: -1px; font: normal 1.375em/1.273em "MuseoSlab100", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
@media all and (min-width: 600px) { hgroup h3 { font-size: 1.875em; line-height: 1.4em; } }
@media all and (min-width: 800px) { hgroup h3 { font-size: 2.25em; line-height: 1.333em; } }
hgroup h4 { position: relative; padding: 0.25em 5% 1.125em 0; margin: 0; color: #19290e; letter-spacing: -1px; font: normal 1.375em/1.273em "MuseoSlab100", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
@media all and (min-width: 600px) { hgroup h4 { font-size: 1.5em; line-height: 1.5em; } }
@media all and (min-width: 800px) { hgroup h4 { font-size: 1.75em; line-height: 1.429em; } }

figure { margin: 0 auto; width: 100%; text-align: center; background: #fff; padding: 0.25em; line-height: 0; max-width: 310px; -webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -ms-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear; }
@media all and (min-width: 600px) { figure { width: 96%; position: absolute; top: 0; right: 1px; margin-left: 1.25em; max-width: 15.25em; } }
figure img { max-width: 100%; margin: 0 auto; }

.content { background-color: transparent; padding-bottom: 2em; margin: 0 auto; }
@media all and (min-width: 1028px) { .content { -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; } }
.content h2 { padding: 0.273em 0 0.545em; margin: 1.182em 0 0; border-top: 3px solid #9bd077; font: normal 2.75em/1.091em "MuseoSlab100", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; letter-spacing: -2px; color: #fff; }
.content ul, .content ol { list-style: none; padding: 0 0 0.75em; color: #222; margin: 0; width: 100%; *zoom: 1; list-style: none; margin: 0; overflow: hidden; padding: 0; }
.content ul:before, .content ol:before { content: ""; display: table; }
.content ul:after, .content ol:after { content: ""; display: table; clear: both; }
.content ul li, .content ol li { float: left; width: 47.5%; *width: 47%; }
.content ul li:nth-child(1n), .content ol li:nth-child(1n) { margin: 5% 0 0 0; }
.content ul li:nth-child(1n), .content ol li:nth-child(1n) { margin: 5% 5% 0 0; }
.content ul li:nth-child(2n), .content ol li:nth-child(2n) { margin-right: 0; }
.content ul li:nth-child(-n+2), .content ol li:nth-child(-n+2) { margin-top: 0; }
.content ul li img, .content ul li a, .content ol li img, .content ol li a { float: left; }
.content ul li a, .content ol li a { text-align: center; width: 100%; }
@media all and (min-width: 480px) { .content ul, .content ol { list-style: none; margin: 0; overflow: hidden; padding: 0; }
  .content ul li, .content ol li { float: left; width: 31.667%; *width: 31.333%; }
  .content ul li:nth-child(1n), .content ol li:nth-child(1n) { margin: 5% 0 0 0; }
  .content ul li:nth-child(1n), .content ol li:nth-child(1n) { margin: 2.5% 2.5% 0 0; }
  .content ul li:nth-child(3n), .content ol li:nth-child(3n) { margin-right: 0; }
  .content ul li:nth-child(-n+3), .content ol li:nth-child(-n+3) { margin-top: 0; }
  .content ul li img, .content ul li a, .content ol li img, .content ol li a { float: left; }
  .content ul li a, .content ol li a { text-align: center; width: 100%; } }
@media all and (min-width: 800px) { .content ul, .content ol { list-style: none; margin: 0; overflow: hidden; padding: 0; }
  .content ul li, .content ol li { float: left; width: 23.75%; *width: 23.5%; }
  .content ul li:nth-child(1n), .content ol li:nth-child(1n) { margin: 5% 0 0 0; }
  .content ul li:nth-child(1n), .content ol li:nth-child(1n) { margin: 1.667% 1.667% 0 0; }
  .content ul li:nth-child(4n), .content ol li:nth-child(4n) { margin-right: 0; }
  .content ul li:nth-child(-n+4), .content ol li:nth-child(-n+4) { margin-top: 0; }
  .content ul li img, .content ul li a, .content ol li img, .content ol li a { float: left; }
  .content ul li a, .content ol li a { text-align: center; width: 100%; } }
.content li { text-decoration: none; font: normal 1.125em/1.333em "MuseoSlab100", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color: #222; }
.content li a { text-decoration: none; font: normal 1.125em/1.333em "MuseoSlab100", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color: #222; }

.dribbble { *zoom: 1; }
.dribbble:before { content: ""; display: table; }
.dribbble:after { content: ""; display: table; clear: both; }

.dribbble .all { font: normal 1.125em/1em "MuseoSlab100", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color: #15200b; margin: 3.334% 0 0 0; padding: 0.25em 0 0.5em; text-decoration: none; display: block; float: left; border-top: 1px solid #477529; width: 47.5%; }
@media all and (min-width: 480px) { .dribbble .all { width: 31.667%; } }
@media all and (min-width: 800px) { .dribbble .all { margin: 1.667% 0 0 0; width: 23.75%; } }
.dribbble .all span { display: inline-block; padding-left: 0; -webkit-transition-property: all; -moz-transition-property: all; -ms-transition-property: all; -o-transition-property: all; transition-property: all; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -ms-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-transition-timing-function: ease; -moz-transition-timing-function: ease; -ms-transition-timing-function: ease; -o-transition-timing-function: ease; transition-timing-function: ease; }
.dribbble .all:hover span { padding-left: 6px; }

.dbbb li { margin-bottom: 1.25em; position: relative; background: white; padding: 0.25em; margin-right: 1.25em; max-width: 13.75em; float: left; -webkit-transition-property: all; -moz-transition-property: all; -ms-transition-property: all; -o-transition-property: all; transition-property: all; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -ms-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-transition-timing-function: ease; -moz-transition-timing-function: ease; -ms-transition-timing-function: ease; -o-transition-timing-function: ease; transition-timing-function: ease; }
.dbbb li em { display: block; margin: 0 0 3px; font: bold 0.688em/1.455em "Helvetica Neue", Helvetica, Arial, sans-serif; color: #888; }
.dbbb li strong { display: block; margin: 8px 0 4px 8px; font: bold 0.75em/1.333em "Helvetica Neue", Helvetica, Arial, sans-serif; color: #444; }
.dbbb img { max-width: 100%; }
.dbbb .over { background: white; background: rgba(255, 255, 255, 0.95); opacity: 0; filter: alpha(opacity=0); position: absolute; top: 0; left: 0; width: 100%; height: 100%; margin: 0; padding: 0; font-size: 1em; line-height: 2; text-decoration: none; color: #888; overflow: hidden; display: block; text-align: left; -webkit-transition: opacity 0.5s ease; -moz-transition: opacity 0.5s ease; -ms-transition: opacity 0.5s ease; -o-transition: opacity 0.5s ease; transition: opacity 0.5s ease; }
.dbbb .over:hover { opacity: 1; filter: alpha(opacity=100); }

ul.contact li { padding: 0.25em 0; }
ul.contact li a { text-align: left; padding: 1.333em 0; color: #222; display: block; }
