@include min-screen($large-screen) {
  .section-thumb--dribbble {
    @include span-columns(3, 2);
    position: relative;
    text-align: center;

    .section-thumb-meta {
      background-color: rgba(#fff, 0.88);
      bottom: 0;
      left: 0;
      opacity: 0;
      padding: $large-spacing 0 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 0.33s ease;
    }

    a:hover {
      .section-thumb-meta {
        opacity: 1;
      }
    }
  }
}
