.section {
  padding: $large-spacing 0 0;

  &:last-child {
    .section-content {
      border: 0;
    }
  }
}

.section-article {
  margin-top: $extra-large-spacing;
}

.section-content {
  @include outer-container;
  border-bottom: $base-border;
  margin-bottom: $base-spacing;
  margin-top: $base-spacing;
  padding: $large-spacing 0 ($large-spacing * 2);
}

.section-description {
  color: $medium-gray;
  font: $base-font-weight $base-font-size $serif;
}

.section-heading {
  font-size: 21px;
  line-height: 1.2;
  margin-bottom: $small-spacing;
  margin-top: $base-spacing;
}

.section-list-date {
  @extend %small-caps;
}


.section-paragraph {
  font-family: $serif;
  font-size: $h5-font-size;
}

.section-thumb {
  display: block;
  float: left;
  margin: 0 $large-spacing ($large-spacing * 2) 0;
  max-width: $medium-screen;
}

.section-thumb-date {
  @extend %small-caps;
}

.section-thumb-heading {
  font-size: 21px;
  line-height: 1.1;
}

.section-thumb-icon {
  display: block;
  float: left;
  margin-right: $base-spacing;
}

.section-thumb-image {
  border: $base-border;
  display: block;
}

.section-thumb-meta {
  margin: $base-spacing 0;
}

.section-thumb-tags {
  @extend %small-caps;
}


.section-title {
  color: $medium-gray;
  font: $base-font-weight $base-font-size $serif;

  &::after {
    border-bottom: 1px solid $light-gray;
    content: "";
    display: block;
    margin-top: $small-spacing * 1.5;
    width: 1.75rem;
  }
}


@include min-screen($large-screen) {
  .section {
    padding: {
      left: $base-spacing;
      right: $base-spacing;
    }
  }

  .section-aside {
    @include span-columns(3, 2);
  }

  .section-article {
    @include span-columns(9, 8);
    margin-top: 71px;
  }

  .section-heading {
    .section-list & {
      margin-top: -4px;
    }
  }

  .section-list-item {
    @include span-columns(4, 3);
  }

  .section-paragraph {
    font-size: $h5-font-size;
    max-width: 90%;
  }

  .section-thumb {
    @include span-columns(4, 3);
    margin-bottom: $small-spacing * 1.5;

    &:nth-child(3) {
      margin-right: 0;
    }
  }

  .section-thumb-image {
    border: 0;
    transition: all 0.4s $base-transition;
  }

   .section-thumb-link {
    border: $base-border;
  }

  .section-thumb-meta {
    margin: 0;
  }
}
