@mixin clearfix {
  &:before {
    content: "";
    display: table; }
  &:after {
    content: "";
    display: table;
    clear: both; }
  *zoom: 1; }

.cf {
  &:before {
    content: "";
    display: table; }
  &:after {
    content: "";
    display: table;
    clear: both; }
  *zoom: 1; }
  
body {
  min-width: 320px;
  margin: 0;
  padding: 0 0 48px;
  background: #f0f0f0 url(/images/body-bg.jpg) repeat-x 0 191px; }

a:active { top: 1px; }

header {
  text-align: center;
  background: #fcfcfc url(/images/header-bg.jpg) repeat 0 0;
  border-bottom: 1px solid #E6E6E6;
  h1 {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    line-height: 117px;
    margin: 0;
    padding: 37px 0;
    background: url(/images/steven-harley-web-developer.png) no-repeat center center; } }

.wrap { 
  @include clearfix; 
  width: 96%; 
  max-width: 1028px; 
  margin: 0 auto; 
  margin-top: 48px;
  @media all and (min-width: 1028px) {
    width: 100%; } }
    
.wrap, hgroup, .content {
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  -ms-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out; }

figure {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  
hgroup {
  width: 100%;
  margin-top: 36px;
  @media all and (min-width: 557px) {
    float: left;
    width: auto;
    margin-top: 0; }
  @media all and (min-width: 1028px) {
    width: 71.93877551%; }
  h2 {
    background: url(/images/borders.png) repeat-x 0 0;
    position: relative;
    margin: 0;
    padding: 36px 0 0;
    color: #222;
    text-shadow: 1px 1px 0 #fff;
    letter-spacing: -3px;
    font: normal 34px / 36px "MuseoSlab100", "Helvetica Neue", Arial, Helvetica, sans-serif; 
    @media all and (min-width: 800px) {
      font-size: 44px;
      line-height: 52px; } }
  h3 {
    background: url(/images/borders.png) repeat-x 0 100%;
    position: relative;
    padding: 24px 5% 36px 0;
    margin: 0;
    color: #222;
    text-shadow: 1px 1px 0 #fff;
    letter-spacing: -1px;
    font: normal 28px / 32px "MuseoSlab100", "Helvetica Neue", Arial, Helvetica, sans-serif; 
    @media all and (min-width: 800px) {
      font-size: 32px;
      line-height: 44px; } } }


figure {
  margin: 0 auto;
  width: 266px;
  @media all and (min-width: 557px) {
    float: right;
    margin: 0;
    width: auto;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: all 0.5s none; }
  img {
    margin: -13px -10px 0 0; } }

.content {
  background-color: #fff;
  padding-bottom: 32px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 15px #DADADA;
  -moz-box-shadow: 0 0 15px #DADADA;
  box-shadow: 0 0 15px #DADADA;
  @media all and (min-width: 1028px) {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; }
  h2 {
    padding: 33px 0 24px 40px;
    margin: 0;
    font: normal 44px / 48px "MuseoSlab100", "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: -2px;
    color: #222; }
  ul {
    list-style: square;
    color: #222;
    margin: 0; }
  li {
    text-decoration: none;
    font: normal 18px / 24px "MuseoSlab300", "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #222;
    a {
      text-decoration: none;
      font: normal 18px / 24px "MuseoSlab300", "Helvetica Neue", Arial, Helvetica, sans-serif;
      color: #222; } } }

.contact a:hover {
  border-bottom: 1px solid #18f;
  color: #18f; }
  

.dbbb {
  @include clearfix;
  list-style: none;
  li {
    margin-bottom: 24px;
    border: 1px solid #f0f0f0;
    position: relative;
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    background: url(/images/dbbb-bg.png) no-repeat 0 0;
    padding: 10px;
    margin-right: 20px;
    max-width: 220px;
    float: left;
    em {
      display: block;
      margin: 0 0 3px;
      font: bold 11px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #888; }
    strong {
      display: block;
      margin: 0 0 4px;
      font: bold 14px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #444; } }
  .over {
    background: white;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    filter: alpha(opacity = 0);
    position: absolute;
    top: 10px;
    left: 10px;
    width: 180px;
    height: 130px;
    margin: 0;
    padding: 10px;
    font-size: 12px;
    line-height: 2;
    text-decoration: none;
    color: #888;
    overflow: hidden;
    display: block;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    &:hover {
      opacity: 1;
      filter: alpha(opacity = 100); } } } 