@function em($target-px, $context) {
  @return #{($target-px / $context) * 1em};
}
@function calc-percent($target, $container) {
  @return ($target / $container) * 100%;
}
@function px-p($target, $container) {
  @return calc-percent($target, $container);
}

@mixin clearfix {
  &:before {
    content: "";
    display: table; }
  &:after {
    content: "";
    display: table;
    clear: both; }
  *zoom: 1; }

.cf {
  &:before {
    content: "";
    display: table; }
  &:after {
    content: "";
    display: table;
    clear: both; }
  *zoom: 1; }
  
* { text-transform: lowercase; @include box-sizing(border-box); }  

body {
  min-width: 320px;
  margin: 0;
  padding: 0 0 em(48, 16);
  background: #f0f0f0 url(/images/body-bg.jpg) repeat-x 0 em(191, 16); }

a:active { top: 1px; }

header {
  text-align: center;
  background: #fcfcfc url(/images/header-bg.jpg) repeat 0 0;
  border-bottom: 1px solid #E6E6E6;
  h1 {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1em;
    margin: 0;
    padding: em(37, 16) 0;
    background: url(/images/steven-harley-web-developer.png) no-repeat center center; } }

.wrap { 
  @include clearfix; 
  width: 96%; 
  max-width: em(1028, 16); 
  margin: 0 auto; 
  margin-top: em(48, 16);
  @media all and (min-width: 1028px) {
    width: 100%; } }
    
.wrap, hgroup, .content {
   @include transition(width 0.2s ease-out); }

figure {
  @include transition(all 0.5s linear); }
  
hgroup {
  width: 100%;
  margin-top: em(36, 16);
  @media all and (min-width: 557px) {
    float: left;
    width: auto;
    margin-top: 0; }
  @media all and (min-width: 1028px) {
    width: 71.93877551%; }
  h2 {
    background: url(/images/borders.png) repeat-x 0 0;
    position: relative;
    margin: 0;
    padding: em(36, 44) 0 0;
    color: #222;
    text-shadow: 1px 1px 0 #fff;
    letter-spacing: -3px;
    font: normal em(34, 16) / em(36, 34) "MuseoSlab100", "Helvetica Neue", Arial, Helvetica, sans-serif; 
    @media all and (min-width: 800px) {
      font-size: em(44, 16);
      line-height: em(52, 44); } }
  h3 {
    background: url(/images/borders.png) repeat-x 0 100%;
    position: relative;
    padding: em(24, 32) 5% em(36, 32) 0;
    margin: 0;
    color: #222;
    text-shadow: 1px 1px 0 #fff;
    letter-spacing: -1px;
    font: normal em(28, 16) / em(32, 28) "MuseoSlab100", "Helvetica Neue", Arial, Helvetica, sans-serif; 
    @media all and (min-width: 800px) {
      font-size: em(32, 16);
      line-height: em(44, 32); } } }

figure {
  margin: 0 auto;
  width: em(266, 16);
  @media all and (min-width: 557px) {
    float: right;
    margin: 0;
    width: auto;
    @include transition(all 0.5s none); }
  img {
    margin: -13px -10px 0 0; } }

.content {
  background-color: #fff;
  padding-bottom: em(32, 16);
  margin: 0 auto;
  @include box-shadow(#DADADA 0 0 15px);
  @media all and (min-width: 1028px) {
    @include background-clip(padding-box);
    @include border-radius(6px); }
  h2 {
    padding: em(33, 44) 0 em(24, 44) em(40, 44);
    margin: 0;
    font: normal em(44, 16) / em(48, 44) "MuseoSlab100", "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: -2px;
    color: #222; }
  ul {
    list-style: square;
    color: #222;
    margin: 0; }
  li {
    text-decoration: none;
    font: normal em(18, 16) / em(24, 18) "MuseoSlab300", "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #222;
    a {
      text-decoration: none;
      font: normal em(18, 16) / em(24, 18) "MuseoSlab300", "Helvetica Neue", Arial, Helvetica, sans-serif;
      color: #222; } } }

.contact a:hover {
  border-bottom: 1px solid #18f;
  color: #18f; }
  

.dbbb {
  @include clearfix;
  list-style: none;
  li {
    margin-bottom: em(24, 16);
    border: 1px solid #f0f0f0;
    position: relative;
    background: white;
    @include border-radius(3px);
    @include box-shadow(rgba(0, 0, 0, 0.07) 0 1px 2px);
    background: url(/images/dbbb-bg.png) no-repeat 0 0;
    padding: em(10, 16);
    margin-right: em(20, 16);
    max-width: em(220, 16);
    float: left;
    em {
      display: block;
      margin: 0 0 3px;
      font: bold em(11, 16) / em(16, 11) "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #888; }
    strong {
      display: block;
      margin: 0 0 4px;
      font: bold em(11, 16) / em(16, 11) "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #444; } }
  .over {
    background: white;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    filter: alpha(opacity = 0);
    position: absolute;
    top: em(10, 14);
    left: em(10, 14);
    width: em(180, 14);
    height: em(130, 14);
    margin: 0;
    padding: em(10, 14);
    font-size: em(14, 16);
    line-height: 2;
    text-decoration: none;
    color: #888;
    overflow: hidden;
    display: block;
    @include transition(opacity 0.5s ease);
    &:hover {
      opacity: 1;
      filter: alpha(opacity = 100); } } } 
      
