@function em($target-px, $context) {
  @return #{($target-px / $context) * 1em};
}
@function calc-percent($target, $container) {
  @return #{($target / $container) * 100%};
}
@function px-p($target, $container) {
  @return calc-percent($target, $container);
}

$fontStack: 'MuseoSlab100', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@mixin grid($items) {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	li {
		float: left;

		// Sets margin and width when your grid only contains 1 image
		&:nth-child(1n) {
			margin: 5% 0 0 0;
		}

		// If you include more than one image in a grid, calculate dimensions and add margin
		@if $items > 1 {

			// Selecting all children so a media query adjustment resets all breaking photos
			&:nth-child(1n) {
				margin: (5% / ($items - 1)) (5% / ($items - 1)) 0 0;
			}

			width: (95% / $items);
			// Ugh, we know. The IE hack is nasty, but it was the easiest fix to implement for users and maintain simplicity. IE7 is bad (imagine that) about calculating percentages so we knocked it down a full percent to keep photos from wrapping. When IE7 falls off the face of the earth consider line 66 to follow suit.
			*width: (94% / $items);
		}

		// Removes margin from the last image in a row
		&:nth-child(#{$items}n) {
			margin-right: 0;
		}

		// Removes margin from first row of images
		&:nth-child(-n+#{$items}) {
			margin-top: 0;
		}
		img, a {
			float: left;
		}

		// Used if your photos have titles or captions
		a {
			text-align: center;
			width: 100%;
		}
	}
}
@mixin cf {
  *zoom: 1;
  &:before {
    content: "";
    display: table; }
  &:after {
    content: "";
    display: table;
    clear: both; } }

.cf {
  &:before {
    content: "";
    display: table; }
  &:after {
    content: "";
    display: table;
    clear: both; }
  *zoom: 1; }
  
* { text-transform: lowercase; @include box-sizing(border-box); }  

body {
  min-width: 320px;
  margin: 0;
  padding: 0 0 em(48, 16);
  background: #88C75E;
  border-bottom: 4px solid #6b9f35; }

a:active { top: 1px; }

.no-font-face * { font-weight: 100; }

header {
  background: #fcfcfc url(/images/header-bg.jpg) repeat 0 0;
  border-bottom: 1px solid #6c9f35;
  .wrap { 
    padding: 0;
    margin: 0 auto; }
  img {
    width: 90%;
    max-width: em(285, 16);
    margin: -11px 0;
    padding: 0 0 em(16, 16) 0; } }

.wrap { 
  @include cf; 
  width: 96%; 
  position: relative;
  max-width: em(1028, 16); 
  margin: 0 auto; 
  margin-top: em(47, 16);
  @media all and (min-width: 1028px) {
    width: 100%; } }
    
hgroup {
  width: 100%;
  margin-top: em(36, 16);
  @media all and (min-width: 600px) {
  	width: auto;
    float: left;
    margin-top: 0;
    margin-right: 262px; }
  h2 {
    border-top: 4px solid #385b20;
    position: relative;
    margin: 0;
    padding: em(19, 38) 0 em(4, 38);
  	color: #fff;
    letter-spacing: -3px;
    font: normal em(38, 16) / em(44, 38) $fontStack; 
    @media all and (min-width: 800px) {
      font-size: em(40, 16);
      line-height: em(48, 40); }
    @media all and (min-width: 830px) {
      font-size: em(52, 16);
      line-height: em(51, 52); } }
  h3 {
    position: relative;
    padding: 20px 5% 0 0;
    margin: 0;
  	color: #19290e;
    letter-spacing: -1px;
    font: normal em(22, 16) / em(28, 22) $fontStack; 
    @media all and (min-width: 600px) {
      font-size: em(30, 16);
      line-height: em(42, 30); }
    @media all and (min-width: 800px) {
      font-size: em(36, 16);
      line-height: em(48, 36); } }
  h4 {
    position: relative;
    padding: em(8, 32) 5% em(36, 32) 0;
    margin: 0;
  	color: #19290e;
    letter-spacing: -1px;
    font: normal em(22, 16) / em(28, 22) $fontStack; 
    @media all and (min-width: 600px) {
      font-size: em(24, 16);
      line-height: em(36, 24); }
    @media all and (min-width: 800px) {
      font-size: em(28, 16);
      line-height: em(40, 28); } } }

figure {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background: #fff;
  padding: em(4, 16);
  line-height: 0;
  max-width: 310px;
  @include transition(all 0.5s linear);
  @media all and (min-width: 600px) {
    width: 96%;
	position: absolute; 
	top: 0; 
	right: 1px;
    margin-left: em(20, 16);
    max-width: em(244, 16); }
  img {
  	max-width: 100%;
  	margin: 0 auto; } }

.content {
  background-color: transparent;
  padding-bottom: em(32, 16);
  margin: 0 auto;
  @media all and (min-width: 1028px) {
    @include background-clip(padding-box);
    @include border-radius(6px); }
  h2 {
    padding: em(12, 44) 0 em(24, 44);
    margin: em(52, 44) 0 0;
    border-top: 3px solid #9bd077;
    font: normal em(44, 16) / em(48, 44) $fontStack;
    letter-spacing: -2px;
    color: #fff; }
  ul, ol {
    list-style: none;
    padding: 0 0 em(33, 44);
    color: #222;
    margin: 0;
    width: 100%;
    @include cf;
	@include grid(2);
	@media all and (min-width: 480px) {
	  @include grid(3); }
	@media all and (min-width: 800px) {
	  @include grid(4); } }
  li {
    text-decoration: none;
    font: normal em(18, 16) / em(24, 18) $fontStack;
    color: #222;
    a {
      text-decoration: none;
      font: normal em(18, 16) / em(24, 18) $fontStack;
      color: #222; } } }

.dribbble {
  @include cf; } 

.dribbble .all { 
    font: normal em(18, 16) / em(18, 18) $fontStack;
    color: #15200b;
   	margin: 3.334% 0 0 0;
   	padding: em(4, 16) 0 em(8, 16);
   	text-decoration: none;
   	display: block;
   	float: left;
	border-top: 1px solid #477529;
	width: 47.5%;
	@media all and (min-width: 480px) {
	  width: 31.667%; }
	@media all and (min-width: 800px) {
     margin: 1.667% 0 0 0;
	  width: 23.75%; }
	span {
	  display: inline-block;
	  padding-left: 0;
      @include transition-property(all);
	  @include transition-duration(.5s);
	  @include transition-timing-function(ease);
	 }
	 &:hover { 
	  span {
	    padding-left: 6px; } } } 
   	
.dbbb {
  li {
    margin-bottom: em(20, 16);
    position: relative;
    background: white;
    padding: em(4, 16);
    margin-right: em(20, 16);
    max-width: em(220, 16);
    float: left;
    @include transition-property(all);
	@include transition-duration(.5s);
	@include transition-timing-function(ease);
    em {
      display: block;
      margin: 0 0 3px;
      font: bold em(11, 16) / em(16, 11) 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #888; }
    strong {
      display: block;
      margin: 8px 0 4px 8px;
      font: bold em(12, 16) / em(16, 12) 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #444; } }
    img { 
      max-width: 100%; }
  .over {
    background: white;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    filter: alpha(opacity = 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 2;
    text-decoration: none;
    color: #888;
    overflow: hidden;
    display: block;
    text-align: left;
    @include transition(opacity 0.5s ease);
    &:hover {
      opacity: 1;
      filter: alpha(opacity = 100); } } } 
      
ul.contact li {
  padding: em(4, 16) 0;
  a { 
    text-align: left;
	padding: em(24, 18) 0;
    color: #222; 
    display: block; } }